header {
  position: relative; 
}

.unit-selector {
  position: absolute; 
  top: 1rem;          
  right: 1rem;       
  z-index: 10;        
}

.btn-group label {
  margin: 0 2px;
  cursor: pointer;
}

.title{
    color: #0051ff; 
}